.ALLNav {
  background-color: #213555;
}
.ALLNav a {
  color: #fff !important;
}

.ALLNav li a {
  font-size: 20px !important;
}

.hero {
  padding-top: 3.5rem;
}

.hero .content {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}
.hero .content button {
  background-color: #e1d7b7;
  border: none;
  font-size: 30px;
  margin: 6% 0;
  padding: 12px 30px;
  border-radius: 20px;
  letter-spacing: 3px;
}

.hero .content h1 {
  font-size: 3.8rem;
}
.hero .content h1 span {
  color: #55679c;
}
.hero .imgHero {
  /* background-image: url("Imgs/fB.png"); */
  position: relative;
  text-align: center;
  /* margin-top: 20px; */
}
.hero .imgHero img:nth-child(1) {
  z-index: 1;
  position: absolute;
  width: 80%;
  left: 12%;
  top: -1%;
  border-radius: 0 0 101px 83px;
}
.hero .imgHero .back {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 0;
  width: 100%;
}
/*########### mobile size   ####################### */

@media (max-width: 500px) {
  .navbar-light .navbar-brand {
    font-size: 16px;
  }
  .hero {
    padding-top: 0.5rem;
  }
  .hero .imgHero .back {
    left: 0;
    width: 100%;
    top: 99px;
  }
  .hero .content {
    align-items: center;
  }
  .hero .content h1 {
    font-size: 2.8rem;
    text-align: center;
    padding: 10px 0;
    line-height: 55px;
  }

  .hero .imgHero img:nth-child(1) {
    width: 83%;
    left: 9%;
    top: -15px;
  }
}
