.ALLNav{
               background-color: #213555;
            
}
.ALLNav a{
               color: #fff !important;
               
}

.ALLNav li a{
               font-size: 20px !important;
} 